body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.nav-elem {
  font-weight: 500;
  color: #2e2f42;
}
.nav-elem:hover {
  color: #404bbf;
}
.nav-elem:focus {
  color: #404bbf;
}
.nav-elem:active {
  color: #404bbf;
  text-decoration: underline;
}
.contact-list {
  font-style: normal;
}
.employee {
  background-color: #ffffff;
}
.contact-elem {
  color: #434455;
}
.contact-elem:hover {
  color: #404bbf;
}
.contact-elem:focus {
  color: #404bbf;
}

.header-1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}

.header-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.header-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-p {
  font-size: 16px;
}
.solutions-section {
  background-color: #2e2f42;
}
.button-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.button-order:hover {
  background-color: #404bbf;
}
.button-order:focus {
  background-color: #404bbf;
}

.benefits-section p {
  color: #434455;
}
.benefits-section {
  background-color: white;
}

.team-section {
  background-color: #f4f4fd;
}

.portfolio-section {
  background-color: #e7e9fc;
}

.footer-section p {
  color: #f4f4fd;
}

.footer-section {
  background-color: #2e2f42;
}

.navy-marker {
  color: #2e2f42;
}
.white-marker {
  color: #f4f4fd;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  color: #4d5ae5;
}
.employee-1 {
  background-color: #ffffff;
}
